parameters:
    level: 7
    paths:
        - src
        - tests
    ergebnis:
        classesAllowedToBeExtended:
            - OutOfBoundsException
            - InvalidArgumentException
            - App\Domain\Exception\InvalidGuess
            - App\Domain\Exception\InvalidOutcome
            - Symfony\Component\HttpKernel\Kernel
            - Symfony\Component\Console\Command\Command
