parameters:
    level: 7
    paths:
        - src
        - tests
    ergebnis:
        classesAllowedToBeExtended:
            - InvalidArgumentException
            - OutOfBoundsException
            - RuntimeException
            - App\Domain\Exception\CannotLoadWordList
            - App\Domain\Exception\CannotRankAnswers
            - App\Domain\Exception\InvalidGuess
            - App\Domain\Exception\InvalidOutcome
            - Symfony\Bundle\FrameworkBundle\Test\KernelTestCase
            - Symfony\Component\HttpKernel\Kernel
            - Symfony\Component\Console\Command\Command
